section#main {
	margin-bottom: 30px;
}

section#main h4{
	text-align:center;
}

.form-control[readonly] {
	background-color: #fff;
}

#btn-row {
	margin-bottom: 62px;
}

.focus {
	outline: none !important;
  box-shadow: 0 0 10px #719ECE;
}